<div class="page-container">
  <div class="form-wrapper">
    <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Poll Statistics</h4>
            <br>
            <h5 class="text-center">{{title}}</h5>
            <br>
            <h5 class="text-center">Total votes over time per option</h5>
              <div style="display: block" *ngIf="lineChartData.length > 0">
                <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <br><br>
              <h5 class="card-title text-center">Pie chart vote distribution</h5>
              <div style="display: block">
                <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [colors]="pieChartColors"
                        [options]="pieChartOptions"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
