<!-- <div class="container">
  <div class="form-container">
    <form [formGroup]="pollForm">
      <label>Poll Title</label>
      <input class="form-control" formControlName="title"><br>
      <label>Poll Type</label>
      <select class="form-control" formControlName="type">
        <option [value]="type" *ngFor="let type of voteTypes">{{type.name}}</option>
      </select>
      <br>
      <div formArrayName="options">
        <label>Poll options</label><br>
        <button class="btn btn-primary" (click)="addOption()">Add Option</button><br><br>
        <div *ngFor="let option of options.controls; let i=index">
          <label>
            Poll option:
            <input class="form-control" type="text" [formControlName]="i">
          </label>
        </div>
      </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
  </div>
</div> -->

<div class="page-container">
  <div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Create Poll</h5>
            <form [formGroup]="pollForm">
              <label>Poll Title</label>
              <input class="form-control" placeholder="Enter poll title" formControlName="title"><br>
              <label>Poll Type</label>
              <select class="form-control" formControlName="type">
                <option [value]="type.code" *ngFor="let type of voteTypes">{{type.name}}</option>
              </select>
              <br>
              <div formArrayName="options">
                <label>Poll options</label><br>
                <button class="btn btn-primary" (click)="addOption()">Add Option</button><br><br>
                <div *ngFor="let option of options.controls; let i=index">
                  <label class="poll-options">
                    <input class="form-control" type="text" placeholder="Enter poll option" [formControlName]="i">
                  </label>
                </div>
              </div>
              <label>Close at</label>
              <input class="form-control" placeholder="Month DD, YEAR HH:MM:SS" formControlName="close_at"><br>
              <br>
              <label>Xtra-Secure Poll &nbsp;</label>
              <input type="checkbox" formControlName="isExtraSecure">
              <br>

              <br>
              <button class="btn btn-primary" (click)="submit()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
