<!-- <div class="container">
<h1>Manage Your PGP Keys</h1>

<div *ngIf="isKeySet">
    <h4>You have set your PGP encryption keys</h4>
    <button class="btn btn-primary" (click)="displayKey()">Show Key</button>
    <br><br>
    <p [textContent]="keyText"></p>
</div>


<div *ngIf="!isKeySet">
    <h4>Set up your PGP encryption keys</h4>
    <p>This must be done in order to use Extra-Secure voting</p>

    <form [formGroup]="keysForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <label>
            <textarea placeholder="Paste your PGP RSA public key here.." type="text" formControlName="publicKey"></textarea>
        </label>
        <button type="submit" class="btn btn-primary">Add Public Key</button>
    </form>
    <br>
    <h4>OR</h4>
    <br>
    <button class="btn btn-primary" (click)="generateKey()">Generate Key Pair</button>
</div>
</div> -->

<div class="page-container">
    <div class="form-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">My Keys</h5>

                <div *ngIf="isKeySet">
                    <h4>You have set your PGP encryption keys</h4>
                    <button class="btn btn-primary" (click)="displayKey()">Show Key</button>
                    <br><br>
                    <p [textContent]="keyText"></p>
                </div>


                <div *ngIf="!isKeySet">
                    <h4>Set up your PGP encryption keys</h4>
                    <p>This must be done in order to use Extra-Secure voting</p>

                    <form [formGroup]="keysForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                        <label>
                            <textarea placeholder="Paste your PGP RSA public key here.." type="text" formControlName="publicKey"></textarea>
                        </label>
                        <button type="submit" class="btn btn-primary">Add Public Key</button>
                    </form>
                    <br>
                    <h4>OR</h4>
                    <br>
                    <button class="btn btn-primary" (click)="generateKey()">Generate Key Pair</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
